node_modules/
vendor/
.git/
public/
storage/
bootstrap/cache/
composer.json
composer.lock
package.json
package-lock.json

# Routes are better structured manually
routes/

# Prettier does not parse static returns correctly
database/factories/DishIngredientFactory.php
database/factories/UserFactory.php

