/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

#late_reservations .reservation,
#upcoming_reservations .reservation {
    width: 33.33%;
    min-width: max-content;
}
#active_reservations .reservation,
#later_reservations .reservation {
    width: 100%;
    min-width: max-content;
}

#app .search{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 72%;
    border: solid 1px white;
    gap: 10px;
    box-sizing: content-box;
}
#app .search label{
    flex-shrink: 0;
    width: calc(50% - 5px);
    height: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    color: black;
}
.imgWrap{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.imgWrap img{
    max-width: none;
    max-height: none;
    width: 50px;
    height: 50px;
}