/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/notifier.css";
@import "views/layout/management.css";

#late_reservations .reservation,
#upcoming_reservations .reservation {
    width: 33.33%;
    min-width: max-content;
}
#active_reservations .reservation,
#later_reservations .reservation {
    width: 100%;
    min-width: max-content;
}
/* vue component styles */
div[id="app"][class="search"] {
    display: grid;
    justify-items: center;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
#app #sorting {
    height: 30px;
}
#app .container {
    width: 50%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 100px auto 1fr;
    padding: 10px 0 0 10px;
    overflow-y: auto;
}
#app .search {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: calc(100% - 10px);
    height: max-content;
    gap: 5px 10px;
}
#app .search label {
    flex-shrink: 0;
    width: calc(50% - 5px);
    height: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#app .results {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    padding: 5px;
    gap: 5px;
}
#app .results .reservation {
    width: 33.33%;
    min-width: 350px;
    flex-grow: 1;
}
#app .edit {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6 auto);
    grid-template-areas:
        "id phone" "name guestCount" "event date" "notes time"
        "notes tables" "notes tables" "notes btns";
    gap: 10px;
    border: solid 1px white;
    margin: 0 12px 0 0;
}
#app .edit label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#app .edit input,
#app .edit select,
#app .edit textarea {
    color: black;
}
#app #id {
    grid-area: id;
}
#app #phone {
    grid-area: phone;
}
#app #name {
    grid-area: name;
}
#app #guestCount {
    grid-area: guestCount;
}
#app #date {
    grid-area: date;
}
#app #event {
    grid-area: event;
}
#app #time {
    grid-area: time;
}
#app #tables {
    grid-area: tables;
}
#app #notes {
    grid-area: notes;
    display: block;
}
#notes textarea {
    width: 100%;
    height: 80%;
    resize: none;
}
#app .edit .btnWrap {
    grid-area: btns;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}
#app .edit #cancel {
    position: absolute;
    top: 0;
    right: 10px;
    width: 20px;
    height: 20px;
    border: solid 1px black;
    display: grid;
    place-content: center;
}
#app .btnWrap button {
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
    height: 4ch;
}
#app .extraDataWrap {
    display: flex;
    justify-content: space-between;
}
/* custom select styles */
#app .custom-select-multi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 200px;
    overflow-y: auto;
    border: solid 1px black;
}
#app .custom-option {
    border: solid 1px black;
    user-select: none;
    flex-shrink: 0;
    flex-grow: 1;
    width: 33%;
    height: 40px;
}
#app .custom-option.selected {
    border: solid 1px black;
    background-color: white;
}
#app .datetime-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#app .durationWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#app .table-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#app #edit label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#app #edit #tables {
    flex-direction: column;
}
/* vue and blade component shared styles */
.imgWrap {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.imgWrap img {
    max-width: none;
    max-height: none;
    width: 50px;
    height: 50px;
}
.icon {
    fill: white;
}
input {
    color: black;
}
.hidden {
    display: none !important ;
}
.reservationwrapper {
    height: 95%;
    overflow: auto;
}
textarea {
    resize: none;
}
